body {
    margin: 0;
    /* padding: 0; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: Roboto;
}

.left-pane {
    background-color: rgb(0, 200, 255);
    padding: 20px 0px 0px 10px;

}


.header{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px 50px 0px 50px;
}

.menu {
    display: grid;
    gap: 15px;
}

.icon,
.text {
    /* display: inline-block; */
    vertical-align: middle;
    align-items: center;
}

.text {
    padding-left: 10px;
    font-size: 20px;
}

.row-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 250px;
    margin-bottom: 20px;
}

.search-bar {
    display: grid;
    grid-template-columns: 0.2fr 3fr;
}

.search {
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0);
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: right; */
    text-align: right;
    /* gap: 2px; */
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.intro-msg{
    display: grid;
    grid-template-columns: 0.1fr 0.5fr;
    /* vertical-align: middle; */
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: right;
    align-items: center; /*Grid containers use align-items: stretch by default*/
}

button{
    background-color: rgb(0, 200, 255);
    border-radius: 16px;
    padding: 5px;
    font-size: 18px;
}

.heading{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* gap: 50px; */
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr; */
    padding: 20px 50px 50px 50px;
    gap: 50px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    align-items: start;
}

.card{
    border-radius: 8px;
    border-left: 8px solid #f0b429;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* height: fit-content; */
    padding: 20px;
}

.actions{
    display: grid;
    grid-template-columns: repeat(3, 0.15fr);
    justify-content: right;
    padding-top: 20px;
}

.col-2{
    display: grid;
    align-items: start;
}

.announcements{
    display: grid;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.announcement{
    border-radius: 8px;
    padding: 0px 20px;
}

.trending{
    display: grid;
    /* align-items: stretch; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: 8px;
}

.trends{
    display: grid;
    grid-template-columns: 0.1fr 0.5fr;
    /* vertical-align: middle; */
    align-items: center;
    border-radius: 8px;
    padding: 0px 20px;
    gap: 15px;
}